body{
    text-align: center;
}

div{
    width: 170px;
    height: 170px;
    float: left;
    background-color: #008000;
    margin: 5px;
}

button{
    border:1px solid #35495e;
    border-radius: 5px;
    height: 50px;
    width: 200px;
}

p{
    margin-top: 77px;
}

.Fizz{
    background-color: crimson;
}

.Buzz{
    background-color: darkcyan;
}

.Fizzbuzz{
    background-color: darkolivegreen;
}
